<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title -->
	<title>
		<%= typeof title != 'undefined' ? title: 'Cooking Blog' %>
	</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
	<!-- Icons -->
	<script src="https://kit.fontawesome.com/e923794895.js" crossorigin="anonymous"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container-fluid">
	<div class="mx-5 px-4 bg-light shadow-lg rounded">

		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<span class="fs-4"><i class="bi bi-egg me-1"></i>Cooking Blog</span>
			</a>
			<ul class="nav nav-pills">
				<li class="nav-item"><a href="/" class="nav-link text-dark" aria-current="page">Home</a></li>
				<li class="nav-item"><a href="/about" class="nav-link text-dark">About</a></li>
				<li class="nav-item"><a href="/submit" class="nav-link text-dark">Submit</a></li>
				<li class="nav-item"><a href="/contact" class="nav-link text-dark">Contact</a></li>
			</ul>
		</header>
		<form class="pb-4" action="/search" method="post">
			<p>Looking for something specific? Try a search! ;)</p>
			<input type="search" class="form-control" name="searchTerm" value="" placeholder="Search" aria-label="Search" required>
		</form>

		<%- body -%>

		<!-- Footer -->
		<footer class="text-center text-lg-start bg-light text-muted pt-4">
			<!-- Section: Social media -->
			<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<div class="me-5 d-none d-md-block d-lg-block">
					<span>Powered by:</span>
				</div>
				<!-- Left -->
				<!-- Right -->
				<div class="text-decoration-none">
					<a href="https://github.com/" class="me-4 text-reset text-decoration-none">
						<i class="fab fa-github"></i>
					</a>
					<a href="https://www.heroku.com/" class="me-4 text-reset text-decoration-none">
						<svg viewBox="0 0 27 30" height="1rem">
							<path fill="grey"
							 d="M0,3.00001915 C0,1.34315432 1.3389342,0 2.99263394,0 L24.0073661,0 C25.6601521,0 27,1.34731857 27,3.00001915 L27,26.9999809 C27,28.6568457 25.6610658,30 24.0073661,30 L2.99263394,30 C1.33984785,30 0,28.6526814 0,26.9999809 L0,3.00001915 Z M1.5,3.50732994 L1.5,26.4926701 C1.5,27.6016617 2.39764516,28.5 3.50494659,28.5 L23.4950534,28.5 C24.6029738,28.5 25.5,27.6012878 25.5,26.4926701 L25.5,3.50732994 C25.5,2.39833832 24.6023548,1.5 23.4950534,1.5 L3.50494659,1.5 C2.39702623,1.5 1.5,2.39871223 1.5,3.50732994 Z M7,25 L7,18 L10,21.5 L7,25 Z M14,10 C15.3276047,8.1875 16.2234157,6.1875 16.7132116,5 L20,5 C19.7293233,5.8125 19.0268528,7.8125 17.2932331,10 L14,10 Z M20,25 L17.2189349,25 L17.2189349,16.4940476 C17.2189349,15.7202381 16.9822485,15.4464286 16.7514793,15.2857143 C15.3550296,14.327381 11.3372781,15.2440476 8.91715976,16.202381 L7,17.0119048 L7.00591716,5 L9.82248521,5 L9.82248521,12.9166667 C10.3550296,12.75 11.0236686,12.577381 11.704142,12.4345238 C14.6923077,11.7916667 16.887574,11.9642857 18.3195266,12.9404762 C19.1065089,13.4761905 20,14.5297619 20,16.4940476 L20,25 Z">
							</path>
						</svg>
					</a>
					<a href="https://nodejs.org/" class="me-4 text-reset text-decoration-none">
						<i class="fab fa-node-js"></i>
					</a>
					<a href="https://expressjs.com/" class="me-4 text-reset text-decoration-none">
						expressjs
					</a>
					<a href="https://ejs.co/" class="text-reset text-decoration-none">
						ejs
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->
			<!-- Copyright -->
			<div class="text-center py-5">
				<a href="https://github.com/SamuelLundquist" class="text-reset text-decoration-none">
					By: Samuel Lundquist
					<i class="fab fa-github"></i>
				</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->

	</div>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>
