<h1 class="py-4">Explore Categories</h1>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
	</ol>
</nav>
<section class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3mb-4">
	<% if(categories != '') { %>
	<% categories.forEach(function(category, index) { %>
	<a href="/categories/<%= category.name %>" class="col text-center category__link">
		<div class="category__img category__img--large shadow">
			<img src="/img/<%= category.image %>" alt="<%= category.name %>" loading="lazy">
		</div>
		<div class="pt-1"><%= category.name %></div>
	</a>
	<% }) %>
	<% } else { %>
	<p>No categories available.</p>
	<% } %>
</section>
