<h1>Recipe</h1>

<% if(recipe != null) { %>
<a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
	<div class="category__img category__img--large shadow">
		<img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
	</div>
	<div class="pt-1"><%= recipe.name %></div>
</a>
<% } %>
