:root {
	--bs-font-sans-serif: 'Rubik', sans-serif;
}

body {
	background-image: url("https://images.unsplash.com/photo-1525947088131-b701cd0f6dc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(243, 243, 243);
}

a {
	color: var(--bs-dark);
}

/* category cards */
.category__link {
	text-align: center;
	text-decoration: none;
	transition: 250ms all;
}

.category__link:hover {
	transform: scale(1.05);
}

.category__img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .23);
	overflow: hidden;
	border-radius: 8px;
}

.category__img--large {
	height: 300px;
}

.category__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
